.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.box-horizontal {
  width: 80%;
  max-width: 900px;
  min-height: 400px;
  background-color: #392b26;
  border-radius: 40px;
  padding: 40px;
  text-align: center;
}

.box-vertical {
  width: 80%;
  max-width: 500px;
  min-height: 600px;
  background-color: #392b26;
  border-radius: 40px;
  padding: 40px;
  text-align: center;
}
