.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.box {
  width: 80%;
  background-color: #392b26;
  border-radius: 40px;
  padding: 40px;
  text-align: center;

  &--horizontal {
    max-width: 900px;
    min-height: 400px;
  }

  &--vertical {
    max-width: 500px;
    min-height: 600px;
  }

  &--horizontal-large {
    max-width: 1000px;
    min-height: 600px;
  }
}
